:root{
    --primary-color: #BC6C25;
    --primary-color-variant: #DDA15E;
    --secondary-color: #606C38;
    --secondary-color-variant: #283618;

    --background-color: #fefae0;
    --surface-color: #fefae0;
    --error-color: #b00020;
    
    --on-primary-color: #ffffff;
    --on-secondary-color: #000000;
    --on-background-color: #000000;
    --on-surface-color: #000000;
    --on-error: #ffffff;
}

button {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border: none;
    border-radius: 4px;
    padding: 0.5em 1.2em;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover,
button:focus {
    background-color: var(--primary-color);
    outline: none;
}