@import url(/20_css/10presets.css);

input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    font-size: 1rem;
}

