@import url(/20_css/10presets.css);

html,
body {
    margin: 0;
    padding: 0;
}

body,
h2 {
    text-align: center;
}

.name {
    background-color: var(--primary-color);
    color: var(--text-color);
}

section {
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 1.1em;
}

.bio {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;

}

.bio img {
    height: 150px;
    width: auto;
    border-radius: 8px;
    object-fit: cover;
}