@import url(/20_css/10presets.css);

html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 7.5em;
    margin-right: 7.5em;
}

body, h2 {
    text-align: center;
}

header,
h1,
button {
    background-color: var(--primary-color-variant);
    padding: 0.75em;
    text-align: center;
    margin: 0%;
    color: var(--on-primary-color);
}

header {
    margin-left: -7.5em;
    margin-right: -7.5em;
}

.name {
    background-color: var(--primary-color);
    color: var(--text-color);
}

section {
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 1.1em;
    text-align: justify;
    text-justify: distribute;
}

.bio {
    font-family: Verdana, Tahoma, sans-serif;
        display: flex;
    flex-direction: row;

}

.bio img {
    height: 150px;
    width: auto;
    border-radius: 8px;
    object-fit: cover;
}