.root{
    --primary-color: #606C38;
    --primary-color-variant: #283618;
    --secondary-color: #DDA15E;
    --secondary-color-variant: #BC6C25;

    --background-color: #fefae0;
    --surface-color: #fefae0;
    --error-color: #b00020;
    
    --on-primary-color: #ffffff;
    --on-secondary-color: #000000;
    --on-background-color: #000000;
    --on-surface-color: #000000;
    --on-error: #ffffff;
}